# **Import Libraries and get dataset**

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [26]:
dataset = pd.read_csv('data/data-tc.csv')

In [27]:
dataset.head()

   B_Req  R_Priority                              FP  Complexity  Time   Cost
0      1          94         TC#2027,TC#2928,TC#2053           3   4.0   60.0
1      2         197         TC#3269,TC#1752,TC#1042           3   4.0   60.0
2      3         163  TC#2843,TC#3332,TC#805,TC#2785           3   5.0   75.0
3      4         103          TC#1618,TC#953,TC#1368           1   4.0   20.0
4      5          70          TC#235,TC#3170,TC#2423           5   4.0  100.0

In [28]:
isCount = dataset['FP'].count()
print(f'Total Data is {isCount}')

Total Data is 3314

# **Preprocess Data**

In [29]:
label_encoder = LabelEncoder()
dataset["B_Req"] = label_encoder.fit_transform(dataset["B_Req"])
dataset["R_Priority"] = label_encoder.fit_transform(dataset["R_Priority"])

In [30]:
dataset["FP"] = dataset["FP"].apply(lambda x: len(x.split(",")))

scaler = StandardScaler()
dataset[["Complexity", "Time", "Cost"]] = scaler.fit_transform(dataset[["Complexity", "Time", "Cost"]])

In [31]:
dataset.fillna(dataset.mean(), inplace=True)
dataset = dataset[(dataset["Complexity"] > -3) & (dataset["Complexity"] < 3)]

In [32]:
dataset.head()

   B_Req  R_Priority  FP  Complexity      Time      Cost
0      0          62   3   -0.023581  0.384733 -0.019140
1      1         165   3   -0.023581  0.384733 -0.019140
2      2         131   4   -0.023581  1.175190  0.346027
3      3          71   3   -1.244620  0.384733 -0.992918
4      4          38   3    1.197458  0.384733  0.954639

# **Split Data**

In [33]:
X_train, X_test = train_test_split(dataset, test_size=0.2, random_state=42)

In [34]:
dataset.to_csv('data/data-preprocess.csv', index=False)

# X_train.to_csv('data/data-train.csv', index=False)
# X_test.to_csv('data/data-test.csv', index=False)